@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&display=swap');

* {
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    /* width: 1240px; */
}

main {
    width: 1321px;
    max-width: 90%;
    margin: 0 auto;
}

.container {}

/* Top banner */
.top-banner {
    background-image: linear-gradient(185.66deg, rgb(28, 1, 17) 5.13%, rgb(63, 7, 29) 49.3%, rgb(93, 13, 40) 87.75%, rgb(138, 21, 56) 145.92%);
    height: 80vh;
    border-radius: 50px;
}

.half-part {
    width: 50%;
    padding-left: 100px;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}

.banner-info {
    color: white;
}

button {
    background-color: goldenrod;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
}

.banner-image img {
    width: 80%;
    height: 609px;
}

/* Details */
.blog-container {
    margin-top: 130px;
}

.input-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: rgb(63, 7, 29);
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    width: 150 px;
}

.links input {
    margin: 5px 10px;
    border: 0;
    border-radius: 3px;
    padding: 10px 15px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-evenly; */

    row-gap: 24px;

    /* border: 2px solid red; */

}

.blog {
    /* height: 200px; */
    margin-left: 24px;
    border: 2px solid E8E8E8;
    border-radius: 5px;
    /* box-shadow: 5px 5px gray; */
}


.blog-container {
    display: flex;
    justify-content: center;
}